<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %> - <%= @user.email %></h2>
                <small>
                    Account Status: <%= @user.role.capitalize %>
                </small> <br />
                <small>
                    <%= pluralize(@user.wikis.count, 'wiki') %>
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-head">
        <% if current_user.standard? %>
            <%= link_to "Learn about upgrading to Premium!", new_charge_path, class: 'btn btn-success btn-lg btn-block' %>
        <% elsif current_user.premium? %>
            <%= link_to "Downgrade account", user_downgrade_account_path(current_user), class: 'btn btn-warning btn-lg' %>
        <% end %>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h2 class="bg-primary text-center">Wikis</h2>
            <% @user.wikis.each do |wiki| %>
                <strong><%= link_to wiki.title, wiki %></strong> <br />
            <% end %>
    </div>
</div>