<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <div class="media-body">
                <h2 class="media-heading"><strong><%= @user.name %></strong> - <em><%= @user.email %></em> <br />
                <small>
                    Account Status: <%= @user.role.capitalize %>
                </small></h2> <br /> <br />
            </div>
        </div>
    </div>
    <div class="col-md-4 my-head">
        <% if current_user.standard? %>
            <%= link_to "Learn about upgrading to Premium!", new_charge_path, class: 'btn btn-success btn-lg btn-block' %>
        <% elsif current_user.premium? %>
            <%= link_to "Downgrade account", user_downgrade_account_path(current_user), class: 'btn btn-warning btn-lg' %>
        <% end %>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="bg-primary text-center">Your Wikis</h2>
            <% @user.wikis.each do |wiki| %>
                <h3><strong><%= link_to wiki.title, wiki %></strong></h3> <br />
            <% end %>
    </div>
    <div class="col-md-4">
        <h2 class="bg-primary text-center">Collaboration</h2>
            <% @user.collaborators.each do |colab| %>
                <h3><strong><%= link_to Wiki.find(colab.wiki_id).title, wiki_path(colab.wiki_id) %></strong></h3> <br />
            <% end %>
    </div>
</div>